services:
  web:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/src
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    command: dotnet watch run --urls=http://+:8080
